body {
	background: #fafafa;
	color: #333333;
	margin-top: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444444;
}

ul {
	margin: 0;
}

.bg-steel {
	background-color: #8818c7;
}

.site-header .navbar-nav .nav-link {
	color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 10px;
}

.srbar {
	margin-bottom: 50px;
}

.enter {
	height: 200px;
}

.search-box-left {
	margin-left: 50px;
	width: 450px;
	height: 20px;
	padding-right: 10px;
	padding-bottom: 30px;
}

.div-wrapper {
	margin: 14px auto 10px;
	font-weight: 700;
	font-size: 16px;
	padding: 0 0 5px;
	height: 36px;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.selectionOff {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.sort-box-inner {
	height: 23px;
	text-align: center;
	border: #e1e1e1 solid 1px;
	padding: 8px 0 8px 10px;
	border-collapse: collapse;
	margin-left: -1px;
	margin-top: -1px;
	color: #666;
	text-decoration: none!important;
	cursor: pointer;
}

.main-body {
	margin-left: 14%;
	margin-right: 14%;
}

a {
	color: black;
}

.problem-tagbox {
	width: 186.3px;
	float: left;
	margin: 0 20px 15px 0;
	background: #fefbfb;
	border: #eee 1 px dotted;
}

.problem-tagbox-top {
	float: left;
	margin: -1px 0 -1px -1px;
}

.problem-tag {
	height: 23px;
	float: left;
	margin: 0 5px 0 0;
	background: #e2dbd1;
	padding: 3px 5px 0;
	text-align: center;
	font-size: 13px;
}

.actual_tag {
	background: #dd9cf8d9;
	border: #c2b9b3 dotted 1px;
}

.problem-tag-number {
	height: 23px;
	float: left;
	margin: 0 3px 0 0;
	color: #999;
	padding: 3px 3px 0;
	font-size: 13px;
	line-height: 1.5;
}

.author {
	background: #efd6ed;
	border: #c2b9b3 dotted 1 px;
}

.user {
	background: #e0cae4;
	border: #c2b9b3 dotted 1 px;
}

.problem-tagbox-inner {
	width: 100%;
	height: 110px;
	float: left;
	margin: 10px auto;
	padding: 5px 0;
	border-bottom: #cececf dotted 1px;
	overflow: hidden;
}

.problem-tagbox-headtext {
	height: 30px;
	float: left;
	color: #32669f;
	line-height: normal;
	overflow: hidden;
	padding: 0 5px 0 0;
	font-size: 25px;
}

.problem-tagbox-bottom {
	height: 30px;
	float: right;
	margin: 10px 0 5px;
	text-align: right;
}

.ht {
	height: 200vh;
}

.clr {
	color: blue;
}

.problem-tagbox-head-inner {
	width: 890px;
	height: 30px;
	float: left;
	color: #818181;
	line-height: normal;
	overflow: hidden;
	padding: 0 5px;
}

.problem-tagbox-statusbox {
	font-size: 13px;
	line-height: 1.6;
	height: 25px;
	float: left;
	padding: 0 10px 0;
	border-right: 1px dotted #999;
	padding: 5px 15px 0 0;
	margin: 0 15px 0 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #8818c7;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
	background: #65198c;
}

@media only screen


.btn-primary {
	color: #fff;
	background-color: #8818c7;
	border-color: #8818c7;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
	text-align: center;
}